@-webkit-keyframes CalendarAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes CalendarAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes CalendarAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.page-calendar {
	position: relative;
	background: linear-gradient(270deg, #654c8e, #a75a8f);
	background-size: 400% 400%;
	-webkit-animation: CalendarAnimation 30s ease infinite;
	-moz-animation: CalendarAnimation 30s ease infinite;
	animation: CalendarAnimation 30s ease infinite;
	min-height: 100vh;
}


.calendar-nav {
	background-color: #1d3651;
  position: relative;

  height: 78px;
  border-bottom-style: solid;
	border-color: #50bfa3;
	border-width: 1px;
}

ul.nav-tabs {
	position: absolute;
	top: 13px;

}

.nav-tabs li, .nav-tabs {
	border-style: none;
	border-width: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #50bfa3;
	color: #1d3651;
	position: relative;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  border-style: none;
  font-size: large;
}

.nav-tabs li a {
	color: white;
	background-color: transparent;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0px;
  border-style: none;
	font-size: large;
}

#calender_section h2{ color:white; font-size:17px;  line-height:40px; }
#calender_section h2 a{ color:#F58220; float:none;}
#calender_section_top{ width:390px;float:left; margin-top:20px; border: 1px rgba(255, 255, 255, 0.50) solid; color:white;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{ float:left; width:55px; font-size:14px; min-height:0; background:none; box-shadow:none; margin:0; padding:0; position:relative; text-align: center; text-transform: uppercase; padding-top: 4px; padding-bottom: 4px;}
#calender_section_bot{ width:390px; float:left; border: 1px rgba(255, 255, 255, 0.50) solid;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{ 
	float:left; 
	width:55px; 
	height:55px; 
	min-height:0; 
	background:none; 
	box-shadow:none; 
	margin:0; 
	padding:0; 
	position:relative; 
	text-align: center;
}

#calender_section_bot ul li span{
	position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.event-counter{
	color: #1d3651;
	background-color: #4ABFA4;
	border-radius: 25px;
}

.mon-header{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
}

.mon-header a{
	color:white;
}

.item-agenda{
	background-color: rgba(255, 255, 255, 0.60);
}


.grey{ background-color:rgba(255, 255, 255, 0.50) !important;}
.light_sky{ background-color:#B9FFFF !important;}

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; }
.date_cell:hover { background: rgba(255, 255, 255, 0.30) !important; }
.date_popup_wrap {
	position: absolute;
	width: 143px;
	height: 115px;
	z-index: 9999;
	top: -115px;
	left:-55px;
	background: transparent url(add-new-event.png) no-repeat top left;
	color: #666 !important;
}
.events_window {
	overflow: hidden;
	overflow-y: auto;
	width: 133px;
	height: 115px;
	margin-top: 28px;
	margin-left: 25px;
}
.event_wrap {
	margin-bottom: 10px; padding-bottom: 10px;
	font-size: 12px;
	padding: 3px;
}
.date_window {
	margin-top:20px;
	margin-bottom: 2px;
	padding: 5px;
	font-size: 16px;
	margin-left:9px;
	margin-right:14px
}
.popup_event {
	margin-bottom: 2px;
	padding: 2px;
	font-size: 16px;
	width:100%;
}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
a:hover {color: #181919;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
#calender_section{ width:336px;}
#calender_section_top ul li{ width:47px;}
#calender_section_bot ul li{ width:47px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
#calender_section{ width:219px;}
#calender_section_top ul li{ width:30px; font-size:11px;}
#calender_section_bot ul li{ width:30px;}
#calender_section_bot{ width:217px;}
#calender_section_bot ul li{ height:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
#calender_section{ width:530px;}
#calender_section_top ul li{ width:74px;}
#calender_section_bot ul li{ width:74px;}
#calender_section_bot{ width:525px;}
#calender_section_bot ul li{ height:50px;}
}

/* lg (Laptop L) */ 
@media (min-width: 1200px) {
	.page-footer {
		left: 228px;	
	}


	.page-footer {
		width: 83.4%;
	}

	.datepicker-days {
		border: 1px solid white;
		border-radius: 4px;
		width: 345px;
		font-size:28px;
	}

	.calendar-right {
    left: 50px;
  }

	.calendar-table {
	height: 300px;
	width: 400px;
	}

	.calendar-nuevo {
		position: absolute;
    top: 335px;
    left: 120px;
    font-size: 16px;
	}
}

/* md (Laptop) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* sm (Tablet)*/
@media (min-width: 768px) and (max-width: 991px) {

}
/* xs (Mobile L M S)*/
@media (max-width: 767px) {

}