@-webkit-keyframes CalendarAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes CalendarAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes CalendarAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


.page-calendar {
	position: relative;
	background: linear-gradient(270deg, #654c8e, #a75a8f);
	background-size: 400% 400%;
	-webkit-animation: CalendarAnimation 30s ease infinite;
	-moz-animation: CalendarAnimation 30s ease infinite;
	animation: CalendarAnimation 30s ease infinite;
	min-height: 100vh;
}


.calendar-nav {
	background-color: #1d3651;
	position: relative;
	height: 78px;
	border-bottom-style: solid;
	border-color: #50bfa3;
	border-width: 1px;
}

ul.nav-tabs {
	position: absolute;
	top: 13px;

}

.nav-tabs li, .nav-tabs {
	border-style: none;
	border-width: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #50bfa3;
	color: #1d3651;
	position: relative;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0px;
  border-style: none;
  font-size: large;
}

.nav-tabs li a {
	color: white;
	background-color: transparent;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0px;
  border-style: none;
	font-size: large;
}


#calender_section h2{ color:white; font-size:17px;  line-height:40px; }
#calender_section h2 a{ color:#F58220; float:none;}
#calender_section_top{ width:390px;float:left; border: 1px rgba(255, 255, 255, 0.50) solid; color:white;}
#calender_section_top ul{padding:0; list-style-type:none;}
#calender_section_top ul li{ 
	width: 55px;
	float:left; 
	font-size:14px; 
	min-height:0; 
	background:none; 
	box-shadow:none; 
	margin:0; 
	padding:0; 
	position:relative; 
	text-align: center; 
	text-transform: uppercase; 
	padding-top: 5px; 
	padding-bottom: 5px;
}

#calender_section_bot{ width:390px; float:left; border: 1px rgba(255, 255, 255, 0.50) solid;}
#calender_section_bot ul{ margin:0; padding:0; list-style-type:none;}
#calender_section_bot ul li{ 
	width: 55px;
	float:left; 
	height:55px; 
	min-height:0; 
	background:none; 
	box-shadow:none; 
	margin:0; 
	padding:0; 
	position:relative; 
	text-align: center;
}

#calender_section_bot ul li span{
	position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.event-counter{
	font-size: 14px;
	color: #1d3651 !important;
	background-color: #4ABFA4;
	height: 22px;
	width: 22px;
	display: table-cell;
  	text-align: center;
  	vertical-align: middle;
	border-radius: 50%;
	position: absolute;
	bottom: 50%;
	left: 50%;
}

.event-mark{
	height: 35px;
	width: 35px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	border: rgba(29, 54, 81, 0.60) 2px solid;
	background-color: none;
	line-height: 35px;
	color: white !important;
	position: absolute;
	bottom: 10% !important;
	left: 10%;
}

.mon-header{
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
}

.mon-header a{
	color:white;
}

.item-agenda{
	background-color: rgba(255, 255, 255, 0.70);
	padding: 5px;
	border-radius: 10px;
	color: #1D3651;
}

.agenda-label{
	font-weight: bold;
}

#event_list h2{
	color: white;
	text-transform: uppercase;
}

.grey{ background-color:rgba(255, 255, 255, 0.50) !important;}

/*========== Hover Popup ===============*/
.date_cell { cursor: pointer; cursor: hand; }
.date_cell:hover { background: rgba(255, 255, 255, 0.30) !important; }
.date_popup_wrap {
	position: absolute;
	width: 143px;
	height: 115px;
	z-index: 9999;
	top: -115px;
	left:-55px;
	background: transparent url(add-new-event.png) no-repeat top left;
	color: #666 !important;
}
.events_window {
	overflow: hidden;
	overflow-y: auto;
	width: 133px;
	height: 115px;
	margin-top: 28px;
	margin-left: 25px;
}
.event_wrap {
	margin-bottom: 10px; padding-bottom: 10px;
	font-size: 12px;
	padding: 3px;
}
.date_window {
	margin-top:20px;
	margin-bottom: 2px;
	padding: 5px;
	font-size: 16px;
	margin-left:9px;
	margin-right:14px
}
.popup_event {
	margin-bottom: 2px;
	padding: 2px;
	font-size: 16px;
	width:100%;
}
.popup_event a {color: #000000 !important;}
.packeg_box a {color: #F58220;float: right;}
a:hover {color: #181919;text-decoration: underline;}

@media only screen and (min-width:480px) and (max-width:767px) {
#calender_section{ width:336px;}
#calender_section_top ul li{ width:55px;}
#calender_section_bot ul li{ width:55px;}
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
#calender_section{ width:219px;}
#calender_section_top ul li{ width:30px; font-size:11px;}
#calender_section_bot ul li{ width:30px;}
#calender_section_top{ width:525px;}
#calender_section_bot{ width:525px;}
#calender_section_bot ul li{ height:50px;}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
#calender_section{ width:530px;}
#calender_section_top ul li{ width:74px;}
#calender_section_bot ul li{ width:74px;}
#calender_section_top{ width:525px;}
#calender_section_bot{ width:525px;}
#calender_section_bot ul li{ height:50px;}
}

/* lg (Laptop L) */ 
@media (min-width: 1200px) {
	.page-footer {
		left: 228px;	
	}


	.page-footer {
		width: 83.4%;
	}

	.datepicker-days {
		border: 1px solid white;
		border-radius: 4px;
		width: 345px;
		font-size:28px;
	}

	.calendar-right {
    left: 50px;
  }

	.calendar-table {
	height: 300px;
	width: 400px;
	}

	.calendar-nuevo {
		position: absolute;
    top: 335px;
    left: 120px;
    font-size: 16px;
	}
}

.btn-green, .btn-green:focus, .btn-green:hover{
	background-color: #56A647;
	color: white;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	text-transform: uppercase;
	vertical-align: middle !important;
	text-decoration: none;
}

.btn-red, .btn-red:focus, .btn-red:hover{
	background-color: #C01D2E;
	color: white;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	text-transform: uppercase;
	vertical-align: middle !important;
	text-decoration: none;
}

.btn-turquoise, .btn-turquoise:focus, .btn-turquoise:hover{
	background-color: #4ABFA4;
	color: white;
	border-radius: 6px;
	height: 30px;
	line-height: 30px;
	width: 160px;
	text-transform: uppercase;
	vertical-align: middle !important;
	text-decoration: none;
}

#modal-observations{
	border: rgba(29, 54, 81, 0.20) 1px solid;
	padding: 5px;
}

.nueva-cite-header{
	background-color: #1D3651;
	color: white;
	text-transform: uppercase;
	text-align: center;

}


 .ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
/* md (Laptop) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* sm (Tablet)*/
@media (min-width: 768px) and (max-width: 991px) {

}
/* xs (Mobile L M S)*/
@media (max-width: 767px) {

}