@-webkit-keyframes PatientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes PatientAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes PatientAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.page-main {
	position: relative;
	background: linear-gradient(270deg, #53c0a5, #4ab3bf);
	background-size: 400% 400%;
	-webkit-animation: PatientAnimation 30s ease infinite;
	-moz-animation: PatientAnimation 30s ease infinite;
	animation: PatientAnimation 30s ease infinite;
	min-height: 100vh;
}

.page-footer, .patient-footer {
	position: fixed;
	background: #2c4666;
	height: 37px;
	color: white;
	top: 95vh;
}

.mayusc{
	text-transform: uppercase;
}



.patient-label{
	color: white;
	font-weight: bold;
	text-align: right;
	display: block;
}

.pull-right-label{
	text-align: left !important;
}
.pax-label{
	color: #2C4666;
	font-weight: bold;
	text-align: right;
	display: block;
}

.patient-content{
	color: #2C4666;
}

.title {
	color: white;
	font-weight: bold;
}

.sub-title {
	color: white;
}

.btn-upload{
	background-color:#193751;
}

.btn-general{
	color: white;
	width: 150px;
}
.title-3 {
	font-weight: bold;
	color: #1d3651;
}

td > .search-table{
	max-width: 30px !important;
}

table.dataTable thead th, table.dataTable thead td{
	border-bottom: none !important;
}
.patient-input{
	border-radius: 0px;
	border: none;
	background-color: rgba(255, 255, 255, 0.30);
	font-weight: bold;
}

.patient-input:focus{
	background-color: white;
	font-weight: bold;
}

.patient{
	background: #90d6cb !important;
	border-radius: 4px !important;
}

.patient tr{
	background: #90d6cb !important;
}



.consult th{
	color: white;
	font-size: 16px;
	border-top: 1px solid #ddd !important;
	text-align: center;
}

.patient td {
	color: #1d3651 !important;
	font-size: 15px;
	font-weight: bold;
}

.patient th{
	color: white !important;
	font-size: 16px;
}

.consult tr{
	border-bottom: 1px solid #ddd !important;
}


.consult td{
	color: #1d3651;
	font-size: 14px;
	text-align: center;
}

.btn-nuevo {
	font-weight: bold;
	color: #50bfa3;
	background: #1d3651;
}

.pag-nav{
	color: white;
}

.left-cell{
	border-left: 1px solid #ddd;
}

.glyphicon-ring{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: none;
	color: white;
	display: inline-table;
	text-align: center;
}

.glyphicon-ring .glyphicon-bordered {
  font-size: 15px;
  vertical-align: middle;
  display: table-cell;
}

.btn-nuevo:hover, .btn-nuevo:active, .btn-nuevo:focus {
	color: white;
}

.glyphicon-plus {
	background: #53c0a5;
	color: white;
	border-radius: 50%;
}

