body,html{
	height: 100% !important;
	font-family: 'Montserrat';
}

.navbar {
	min-height: unset;
}

#side-menu{
	background: #2e4766;
	background: -moz-linear-gradient(-45deg, #2e4766 0%, #0062a3 100%);
	background: -webkit-linear-gradient(-45deg, #2e4766 0%,#0062a3 100%);
	background: linear-gradient(135deg, #2e4766 0%,#0062a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4766', endColorstr='#0062a3',GradientType=1 );
	min-height: 100% ;

}

.admin-sidebar{
	background-color: transparent;

}
.top-header{
	background-color: #1d3651;
}

#side-menu li a.active{
	background-color: #50bfa3;
	color: white;
}

#side-menu .navbar-ra .nav>li>a{
	color: white;
}

#side-menu .navbar-ra .nav>li>a:focus, .navbar-ra .nav>li>a:hover, .navbar-ra .nav>li>a:active, .navbar-ra .nav li.dropdown.open a {
	color: #1d3651;
    background-color: #50bfa3;
}

.box-header.well {
    background-color: #50bfa3;
    border-radius: 0px;
    border-color: #1d3651;
}

#index{
	background-color: #1d3651;

}