.preloader-logo img{
	display: block;
	max-height: 180px;
}
.preloader-logo strong{
	display: block;
	margin-top: 80px;
}
.pricing-package{
	padding: 19px 19px 19px;
}
.pricing-package-strip{
	margin: -20px -20px 20px -20px;
}
.pricing-package-header{
	padding-right: 100px;
}
.pricing-package-header .price{
	max-width: 100px;
}
.pricing-package-header .price-number{
	font-size: 33px;
	font-weight: 600;
}
.price-observ{
	height: 10px;
	line-height: 1;
	position: relative;
	display: block;
}
.mt-planes{
	margin-top: 60px; 
}
.mb-p-planes{
	margin-bottom: 0px;
}

.logos-im{
	max-height: 89px;
}

/**
 * ========================================
 * ABOUT SECTION
 * ========================================
 */
.about-section {
	padding: 40px 0;
}
.about-logos {
	text-align: center;
}
.about-logos span {
	display: inline-block;
	margin: 0 20px;
}
@media ( min-width: 768px ) {
	.about-section {
		padding: 50px 0;
	}
}
@media ( min-width: 992px ) {
	.about-section {
		padding: 60px 0;
	}
}