body{
	font-family: 'Montserrat';
}
#wrapper{
	display: block;
}

.align-center{
	margin: 0 auto;
	text-align: center;
	align-items: center;
	display: block;
}
#page-wrapper{
	height: 97%;
	margin-left: 15%;
	padding: 0% 0% 5% 5%;
	position: fixed;
}
#sidebar-wrapper{
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	position: fixed;
	background: linear-gradient(360deg, #0062a3, #2e4766);
	background-size: 500% 500%;

	-webkit-animation: animSide 15s ease infinite;
	-moz-animation: animSide 15s ease infinite;
	-o-animation: animSide 15s ease infinite;
	animation: animSide 15s ease infinite;
}
.sidebar-nav, .nav{
	height: 100%;
}
@-webkit-keyframes animSide {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes animSide {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-o-keyframes animSide {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes animSide { 
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}

.nav li{
	border-bottom-style: solid;
	border-color: white;
	border-width: 1px;
}
.nav li a{
	color: white;
	padding-left: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	margin: 0px;
	text-align: center;
}
.nav li a:hover{
	background: #50bfa3;
	color: #1d3651;
}

#logout, #index{
	font-weight: bold;
}
#index a{
	font-size: 20pt;
	color: #50bfa3;
}
#logout{
	bottom: 0px;
}

/*---------------------------------------------------------------------------------*/
#page-wrapper {
	background: linear-gradient(270deg, #53c0a5, #4ab3bf);
	background-size: 400% 400%;
	-webkit-animation: animPage 30s ease infinite;
	-moz-animation: animPage 30s ease infinite;
	animation: animPage 30s ease infinite;
}

@-webkit-keyframes animPage {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes animPage {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes animPage { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

footer {
	background: #2c4666;
	height: 37px;
	color: white;
	position: absolute;
	top: 100vh;
}
small {
	margin: auto;
	padding-left: 38%;
	position: absolute;
	bottom: 1.4vh;
}

#osa {
	width: 200px;
	height: 135px;
	margin-left: 90px;
	position: absolute;
	bottom: 0vh;
	left: 60vw;
}

.title {
	color: white;
	margin-top: 27px;
	margin-bottom: 25px;
	font-weight: bold;
}

.table {
	margin-top: 20px;
	background: #90d6cb;
	border-radius: 4px;
}
.table th {
	color: white;
}
.table td {
	color: #1d3651;
	font-weight: normal;
}

.btn-nuevo {
	font-weight: bold;
	color: #50bfa3;
	background: #1d3651;
}

.btn-nuevo:hover, .btn-nuevo:active, .btn-nuevo:focus {
	color: white;
}

.glyphicon-plus {
	background: #53c0a5;
	color: white;
	border-radius: 50%;
	padding: 4px;
}

/* lg (Laptop L) */ 
@media (min-width: 1200px) {
	#page-wrapper {
		margin-left: 225px;
		height: 100%;
		width: 100%;
	}
	footer {
		margin-left: 225px;
	}
}

/* md (Laptop) */
@media (min-width: 992px) and (max-width: 1199px) {
	#page-wrapper {
		margin-left: 172px;
		height: 100%;
		width: 100%;
	}
	#index {
		padding-right: 5px;
    padding-left: 5px;
	}
	footer {
		margin-left: 172px;
	}
}

/* sm (Tablet)*/
@media (min-width: 768px) and (max-width: 991px) {
 	#page-wrapper {
 		margin-left: 150px;
		height: 100%;
		width: 100%;
	}
	#side-wrapper {
		width: 300px;
	}
	#index {
		padding-right: 5px;
    padding-left: 5px;
	}
	footer {
		margin-left: 150px;
	}
}

/* xs (Mobile L M S)*/
@media (max-width: 767px) {
	#page-wrapper {
		margin-left: 150px;
		height: 100%;
		width: 100%;
	}
	#index {
		padding-right: 5px;
    padding-left: 5px;
	}
}